* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

h1 {
    margin-left: 6rem;
}

img {
    margin-left: 10rem;
    margin-top: 4rem;
}

body {
    background-image: url('Imagens/Back_pedmeia.png');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.input-field {
    position: relative;
    margin-top: 1rem;
}

.input-field input {
    outline: rgb(187, 210, 240);
}

form input[type="submit"] {
    margin-top: 1.5rem;
    padding: 0.4rem;
    background: rgb(105, 69, 219);
    cursor: pointer;
    color: rgb(187, 210, 240);
    font-size: 0.9rem;
    font-weight: bold;
    border-radius: 4px;
    width: 10rem;
    border-color: rgb(187, 210, 240);
}

/*Botão para novo cadastro na tela de Login*/
#button_novoCadastro {
    margin-left: 9.8rem;
}
#button_voltar {
    margin-left: -14rem;
    width: 7rem;
    height: 1.5rem;
    margin-top: 2rem;
    margin-block: 2rem
}
/*Botão de cadastrar na tela de cadastro*/
#button_cadastrar {
    margin-left: 9.8rem
}

.footer input[type="submit"] {
    margin-top: 6rem;
    padding: 0.4rem;
    background: rgb(210, 59, 233);
    cursor: pointer;
    color: rgb(187, 210, 240);
    font-size: 0.9rem;
    font-weight: bold;
    border-radius: 4px;
    width: 12rem;
    margin-left: 9rem;
    border-color: rgb(187, 210, 240);
}

form input[type="text"] {
    width: 30rem;
    height: 1.5rem;
    background-color: rgb(187, 210, 240);
}

form input[type="password"] {
    width: 30rem;
    height: 1.5rem;
    background-color: rgb(187, 210, 240);
}

#logo_cadastro {
    margin-left: 32rem
}

/*Botão sair tela principal*/
#sair {
    margin-left: 55rem;
    width: 7rem; 
}

#h1_main {
    margin-top: -18rem;
    margin-left: 18rem;
}
